<div class="container">
    <div class="d-inline">
        <div class="col">
            <!---->
            <app-filter [filtroPara]="'libro'" (dataFilter)="showFilterSelected($event)" ></app-filter>
        </div>
        <div *ngIf="message" [ngClass]="messageType" class="alert">
            <span>{{message}}</span>
        </div>
        <div class="col">
            <div class="card-columns">
                <div *ngFor="let book of booksArrayToShow" class="card shadow text-center">
                    <div class="card-img-top mt-3">
                        <img [src]="book.imageFront" class="card-img-top" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.briefDescription }}</p>
                        <a class="btn btn-outline-danger btn-block">Ver Libro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-suscribe></app-suscribe>
    </div>
</div>