<section>
    <div class="container">
      <div class="suscribe-container rounded-pill shadow">
        <div class="row">
          <div class="col mt-4 mb-4 text-right">
            <small class="m-2">No te pierdas las novedades que EntrePáginas tiene para vos.</small>
          </div>
          <div class="col mt-4 mb-4">
            <input class="form-control-plaintext shadow rounded p-1" type="email" id="email" placeholder="Suscríbete!!">
            <button type="submit" class="btn btn-outline-danger m-1">Suscribir</button>
          </div>
        </div>
      </div>
    </div>
  </section>