<div class="searchArea">
    <form class="mt-3">
        <div class="form-row">
            <label>Buscar Libros</label>
            <input type="text" name="search" #search class="form-control" (keyup.enter)="buscarLibros(search.value)" placeholder="Buscar Libros" required>
            <button class="btn btn-primary btn-block mt-1" (click)="buscarLibro(search.value)">Buscar</button>
        </div>
    </form>
    <div class="searchResults">
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Categorias</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <td></td>
                
            </tbody>
        </table>
    </div>
</div>
