
<div class="container">
  <div class="card-columns">
    <div class="card mt-2">
      <img src="{{ itemBook.imageFront }}" class="card-img-top img-card" alt="{{itemBook.title}}">
      <div class="card-body">
        <h6 class="card-title">{{ itemBook.title }}</h6>
        <p class="card-text">{{ itemBook.briefDescription }}</p>
        <p class="card-text"><small class="text-muted">{{ itemBook.autor.name }}</small></p>
      </div>
      <div class="controls">
        <div class="carousel-control-prev text-left">
          <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
        </div>
        <div class="carousel-control-next text-rigth">
          <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>
