<div class="manager">
    <div class="row controls">
        <div class="btn-group" role="group" aria-label="ControlBooks">
            <button type="button" class="btn btn-outline-dark btn-sm" (click)="operation='crear'">Crear</button>
            <button type="button" class="btn btn-outline-dark btn-sm" (click)="operation='buscar'">Buscar</button>
          </div>
    </div>
    <div [ngSwitch]="operation" class="d-block workspace">
        
        <div *ngSwitchCase="'crear'">
          <app-autor-add></app-autor-add>
        </div>
        <div *ngSwitchCase="'editar'">
          <app-autor-edit></app-autor-edit>
        </div>
        <div *ngSwitchCase="'buscar'">
          <app-autor-search></app-autor-search>
        </div>
        <div *ngSwitchCase="'eliminar'">
          
        </div>
        <div *ngSwitchDefault></div>
    </div>
</div>

<!--
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="operation='editar'">Editar</button>
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="operation='eliminar'">Eliminar</button>
-->