<div class="manager">
    <div class="row controls">
        <div class="btn-group" role="group" aria-label="ControlBooks">
            <button type="button" class="btn btn-outline-dark btn-sm" [routerLink]="['./add']" >Crear</button>
            <button type="button" class="btn btn-outline-dark btn-sm" [routerLink]="['./search']" >Buscar</button>
          </div>
    </div>

    <div class="d-block workspace">
        <router-outlet></router-outlet>
    </div>
</div>

<!--
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="operation='editar'">Editar</button>
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="operation='eliminar'">Eliminar</button>

          <div *ngSwitchCase="'crear'">
          <app-book-add></app-book-add>
        </div>
        <div *ngSwitchCase="'editar'">
          <app-book-edit></app-book-edit>
        </div>
        <div *ngSwitchCase="'buscar'">
          <app-book-search></app-book-search>
        </div>
        <div *ngSwitchCase="'eliminar'">
          
        </div>
        <div *ngSwitchDefault></div>
-->