<div class="container">
    <div class="text-center">
        <h2 class="border-bottom">
            Autores Destacados
        </h2>
    </div>
</div>

<div *ngIf="loading" class="autorHomeView">
    <div class="container">
        <div *ngFor="let autor of autorsHomeView" class="row m-3 autor-item">
            <div class="col border rounded border-secondary shadow">
                <header class="row m-2">
                    <div class="col col-sm-3 text-center">
                        <div class="float-left">
                            <img class="img-thumbnail rounded-circle autor-image" [src]="autor.image" alt="imagen" >
                        </div>
                    </div>
                    <div class="col col-sm-5">
                        <div class="text-right">
                            <span>
                                <strong> {{autor.name}} </strong>
                            </span><br>
                            <small>{{autor.alias}}</small>
                        </div>
                    </div>
                </header>
                
                <div class="col mt-2 autor-books">
                    <app-cards-quickview [autorFilter]="autor"></app-cards-quickview>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-3 mb-5">
    <div *ngIf="!loading" class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
    </div>
</div>
