<app-carousel></app-carousel>

<hr>

<app-cards-quickview></app-cards-quickview>

<hr>

<!--<section class="m-5">
    <div class="container">
      <div class="row d-sm-block d-none">
          <div class="col"><img src="assets/bannerMixed-01.png" height="400px" alt="test" srcset=""></div>
          <div class="col">
            <h2>Special Book</h2>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex aspernatur quas ad atque quibusdam enim, sed esse quos saepe illum eveniet harum pariatur! Perferendis nostrum, odio explicabo suscipit sapiente ea!</p>
            <small class="text-right"><span>Alguien Mas</span></small>
          </div>
      </div>   
    </div>
</section>

<hr>-->

<app-suscribe></app-suscribe>