<form class="crearForm mt-3">
    <div *ngIf="message" [ngClass]="messageType" class="alert">
        <span>{{message}}</span>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Tag</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="tagNew.tag" class="form-control" placeholder="Nombre del Tag" required>
        </div>
        <div class="col-md-6 mb-3">
            <label>Descripción de la Categoría</label>
            <input type="text" name="description" #description="ngModel" [(ngModel)]="tagNew.description" class="form-control" placeholder="Descripción del Tag" required>
        </div>
    </div>
    <button class="btn btn-secondary btn-block" (click)="createNewTag()">Crear Tag</button>
</form>
