<div class="row" *ngIf="validSession()">
    <div class="col-2 d-none d-sm-none d-md-block">
        <div class="m-md-2 sidebar-container">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['./dashboard']" id="v-pills-item-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Dashboard</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['./books']" id="v-pills-messages-tab" data-toggle="pill" role="tab" aria-controls="v-pills-messages" aria-selected="false">Libros</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['./autors']" id="v-pills-messages-tab" data-toggle="pill" role="tab" aria-controls="v-pills-messages" aria-selected="false">Autores</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['./categories']" id="v-pills-profile-tab" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false">Catergorias</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['./editorials']" id="v-pills-settings-tab" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false">Editoriales</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['./tags']" id="v-pills-settings-tab" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false">Tags</a>
            </div>
        </div>
    </div>
    <div class="d-inline d-sm-inline d-md-none">
        <div class="row controls">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['./dashboard']">Dashboard</button>
                <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['./books']">Libros</button>
                <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['./autors']">Autores</button>
                <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['./categories']">Categorias</button>
                <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['./editorials']">Editorials</button>
                <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['./tags']" >Tags</button>
              </div>
        </div>
    
    </div>
    <div class="col col-12 col-md-9 containerLogin">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
  </div>
