<footer class="bg-danger w-100">
    <div class="container">
        <div class="d-inline-flex">
            <div class="col">
                <h5>FAQ</h5>
                <ul>
                    <small class="d-block">#<a href="">About Us</a></small>
                    <small class="d-block">#<a href="">Who we are?</a></small>
                    <small class="d-block">#<a href="">About Us</a></small>
                    <small class="d-block">#<a href="">Terms and Conditions</a></small>
                </ul>
            </div>
            <div class="col">
                <h5>Social Net</h5>
                <ul>
                    <small class="d-block">#<a href="">Facebook</a></small>
                    <small class="d-block">#<a href="">Instagram</a></small>
                    <small class="d-block">#<a href="">Pintrest</a></small>
                    <small class="d-block">#<a href="">Twitter</a></small>
                </ul>
            </div>
            <div class="col">
                <h5>Categorias</h5>
                <ul>
                    <small class="d-block">#<a href="">Ciencia Ficción</a></small>
                    <small class="d-block">#<a href="">Romances</a></small>
                    <small class="d-block">#<a href="">Contemporaneos</a></small>
                    <small class="d-block">#<a href="">Historicos</a></small>
                </ul>
            </div>
        </div>
    </div>
</footer>